<html>
  <head>
    <meta charset="utf-8" />
    <title>Loopin</title>
    <meta
      name="title"
      content="Loopin"
    />
    <meta
      name="description"
      content="Loopin"
    />
    <link rel="image_src" href="/images/notify_better_image.png" />

    <link rel="shortcut icon" id="favicon" href="favicon.png" />
    <meta name="author" content="Pete R." />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
     <link
      href="/css/mainmain.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Pacifico:400"
      rel="stylesheet"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-1.9.1.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.onepage-scroll.js"></script>
    <link href="/css/onepage-scroll.css" rel="stylesheet" type="text/css" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
   
    <script>
      $(document).ready(function(){ $(".main").onepage_scroll({
      sectionContainer: "section", responsiveFallback: 600, loop: true }); });

    </script>
    <link
      href="http://fonts.cdnfonts.com/css/patinio-basica"
      rel="stylesheet"
    />

  </head>
  <body style="font-family: ui-rounded, SF Pro Rounded, system-ui, san-serif;">
    <div class="wrapper">
      <header id="header" style="background: black;">
						<a href="/" class="logo"><img src="/images/log.png" style="height:31px;padding:0px"></a>
						<nav>
							<a href="#menu"></a>
						</nav>
					</header>

				<!-- Menu
					<nav id="menu">
						<ul class="links">
							<li><a href="/host">Host</a></li>
							<li><a href="/attend">Attend</a></li>
							<li><a href="/rent">Rent</a></li>
							<li><a href="/join">Careers</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">Join Waitlist</a></li>
						</ul>
					</nav> -->

      <div class="main">

        <!--<section class="page1">
          <div class="page_container">
            <img src="images/log.png" alt="" style="height: 70px;" />
            <h2
              style="text-align: center;font-weight:300;width:80%;margin:auto"
            class="mainhed">A social event platform for truly unique experiences. Attend events, make friends, earn rewards!</h2>
            <div style="text-align: center;">
              <img src="/images/event.png" alt="phones" style="height:70%;" />
            </div>
          </div>
        </section>-->

        <section class="page1"  style="background-color:#EE4266;">
          <div style="width:100%;margin:auto;margin-top:5%" class="flexsec">
            <div class="info-box pad-top">
              
            <h2
              style="text-align: center;font-weight:300;width:80%;margin:auto;color:white"
            class="mainhede">Discover exciting events near you. 
                Make lasting friendships, Enjoy Amazing Experiences.</h2>
            
              <div style="width: 100%;">
                <a href="attend"><button>
                    Learn More
                  </button></a>

              </div>
            </div>
            <div class="info-box">
              <img src="/images/event.png" alt="phones" style="width:60%" />
            </div>
          </div>
        </section>


        

        <section class="page2" style="background-color: black;overflow:scroll">
          <div class="page_container">
            <!--<h1
                style="text-align: center;
    margin: auto;width:80%"
              >No Space? No Problem! Find the perfect location and rent it with Loopin.</h1>
                      <img src="/images/under.png" class="mainvis" />-->

              <div id="imgmob">
          <div id="info-boxes">
            <div class="info-boxex" >
              <header>               
                <img src="/images/passion.svg" style="height: 30px;">
                <h3>For You</h3>
                <p>Loopin uses AI to find events and people that share similar interests.</p>
              </header>

            </div>
            <!--<img src="/images/stag.png" style="width: 47%;
    margin-left: 35px;">-->
            <div class="info-boxe">
              <header>
                <img src="/images/plan.svg" style="height: 30px;">
                <h3>Connected</h3>
                <p>Met someone you like? Add them to your friends list, message them, and invite them to other events!</p>
              </header>

            </div>

          </div>
          <div id="info-boxes">
            <div class="info-boxe" style="margin-left:0">
              <header>
                <img src="/images/graph.svg" style="height: 30px;">
                <h3>Seamless</h3>
                <p>Buy individually or make a group and bulk buy
                            tickets for discounts! You only pay what the host
                            asks. No hidden fees.</p>
              </header>

            </div>
            <!--<img src="/images/stag.png" style="width: 47%;
    margin-left: 35px;">-->
            <div class="info-boxe" style="border: none;">
              <header>
                                            <!--<img src="/images/es.svg" style="height: 150px;">-->

                <!--<h3>NO FEE's</h3>
                <p>We don't charge hidden fee's for attending events. Attendee's pay zero in fee's to Loopin.</p>-->

              </header>

            </div>


          </div>

        </div>

           
            
          </div>
        </section>


        <section class="page2"  style="background-color: #f1c40f;">
          <div style="width:100%;margin:auto;margin-top:5%" class="flexsec">
            <div class="info-box pad-top">
        <h1 style="color:black;" class="mainhede">
          Message friends, create groups, send out bulk invites.</h1>
        <h1 style="color:black;" class="mainhede">
          Tap two phones to connect in seconds.</h1>
		   <h1 style="color:black;" class="mainhede">
         Add other guests to your friendlist.</h1>
              <div style="width: 100%;">
                <!--<a href="attend"><button>
                    Learn More
                  </button></a>-->

              </div>
            </div>
            
            <div class="info-box">
              <img src="/images/event2.png" alt="phones" style="width:60%" />
            </div>
          </div>
        </section>

        <section class="page3">

          <div class="page_container" style="margin-top: 50px;">
            <h1  class="mainhede">Want 50% your first 10 events? Its quick, I promise :)</h1>
            <Button>Survey</Button>
          </div>
          <div id="menu" class="page_container footer" style="margin-top:50px;width:200px">
              <div style="font-size: 15px;">
                  <a href="/"><p>Home</p></a>
                  <a href="/attend"><p>Attend</p></a>
                  <a href="/host"><p>Host</p></a>
                  <a href="/rent"><p>Rent</p></a>
                  <a href="/join"><p>Careers</p></a>
                  <p>© Loopin Inc.</p>
              </div>
          </div>
        </section>

      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->

  </body>
</html>










