
<html>
  <head>
    <title>Loopin</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <link
      href="http://fonts.cdnfonts.com/css/patinio-basica"
      rel="stylesheet"
    />
  </head>
  <body class="is-preload" style="background-color: black;">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      <header id="header" class="alt style2" style="background:black">
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/host">Host</a></li>
          <li><a href="/attend">Attend</a></li>
          <li><a href="/rent">Rent</a></li>
          <li><a href="/join">Careers</a></li>
        </ul>
        <ul class="actions stacked">
          <li><a href="#" class="button fit">Join Waitlist</a></li>
        </ul>
      </nav>

      <!-- Banner -->
      <section id="banner" class="major" style="background: black;">
        <div class="inner">
          <header class="major" style="background-color:none">
            <a href="/" class="logo" style="margin-left: 0;"><img
                src="/images/log.png"
                style="height:80px;"
              /></a>

            <h1
              style="border-bottom:none;margin-top: 2%;padding-left: 7px;"
            ><span style="font-family: 'Patinio Basica';">Enjoy Amazing Experiences.</span><br
              />Discover exciting events near you. 
                Make lasting friendships.
			  
            </h1>

            <img src="/images/under2.png" class="mainvis" />
            <!--<button data-tf-popup="kwOKZHEs">Survey for free promotion</button><script src="//embed.typeform.com/next/embed.js"></script>-->
          </header>
        </div>
      </section>

      <section
        id="one"
        style="max-width: 50em;
    margin: auto;
    background: black;
    margin-bottom: 72px;padding:10px;margin-top:30px"
      >

        <!--<img src="/images/ws.png" style="width: 70%;margin-top:15px" id="imgmac"/>-->
        <div id="imgmob">
          <div id="info-boxes">
            <div class="info-box" style="margin-left:0">
              <header>
                <h3>FOR YOU</h3>
                <p>Loopin uses AI to find events and people that share similar interests.</p>
              </header>

            </div>
            <!--<img src="/images/stag.png" style="width: 47%;
    margin-left: 35px;">-->
            <div class="info-box">
              <header>
                <h3>CONNECTED</h3>
                <p>Met someone you like? Add them to your friends list, message them, and invite them to other events!</p>
              </header>

            </div>

          </div>
          <div id="info-boxes">
            <div class="info-box" style="margin-left:0">
              <header>
                <h3>SEAMLESS</h3>
                <p>Buy individually or make a group and bulk buy
                            tickets for discounts! You only pay what the host
                            asks. No hidden fees.</p>
              </header>

            </div>
            <!--<img src="/images/stag.png" style="width: 47%;
    margin-left: 35px;">-->
            <div class="info-box" style="border: none;">
              <header>
                                <img src="/images/ud.svg" style="height: 220px;margin-left:0">

              </header>

            </div>

          </div>

        </div>

        <h1 style="margin-top:10%;">All you need, simple and easy.</h1>
        <img src="/images/under.png" class="mainvis" />
        <h2><img src="/images/1.png" style="height:60px;margin-right:10px;" />
          Message your friends, create groups, and send out bulk invites.</h2>
        <h2><img src="/images/2.png" style="height:60px;margin-right:10px" />
          Tap two phones to connect with each other in seconds.</h2>
		   <h2><img src="/images/3.png" style="height:60px;margin-right:10px" />
         Add guests from events to your friendlist.</h2>
      </section>
      

      <section
        id="one"
        style="max-width: 50em;
    margin: auto;
    background: black;
    margin-bottom: 72px;padding:10px;margin-top:30px"
      >
        <h1>Help Loopin for a reward!</h1>
        <p>Complete this short survey to list your space for 1 year and pay $0
          in rental fees. You will also get exclusive discounts once we launch!</p>
        <div
          data-tf-widget="VQxQIzyf"
          data-tf-hide-headers
          data-tf-hide-footer
          style="width:75%;height:300px;color:#FFFFFF;"
        ></div><script src="//embed.typeform.com/next/embed.js"></script>
      </section>

      <!--<div data-tf-widget="kwOKZHEs" style="width:100%;height:400px;color:#FFFFFF;"></div><script src="//embed.typeform.com/next/embed.js"></script>-->

      <!-- Footer -->
      <footer id="footer" style="background: black;">
        <div class="inner">
          <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span
                  class="label"
                >Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span
                  class="label"
                >Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span
                  class="label"
                >Instagram</span></a></li>
          </ul>
          <ul class="copyright">
          </ul>
        </div>
      </footer>

    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>