<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Loopin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" style="background: black;">
						<a href="/" class="logo"><img src="/images/log.png" style="height:60px;padding:10px"></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/host">Host</a></li>
							<li><a href="/attend">Attend</a></li>
							<li><a href="/rent">Rent</a></li>
							<li><a href="/join">Careers</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">Join Waitlist</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one"  style="background: black;">
								<div class="inner">
									<header class="major">
										<h1 style="font-size:50px">Why Join Loopin?</button>
									</header>
									<p></p>
								</div>
							</section>
							<section id="two"  style="background: black;">
								<div class="inner">
									<header class="major">
		<p>Loopin the most cutting-edge platform for renting, hosting, and attending events. From our vertically integrated software, to our proprietary blockchain infrastructure for ticketing and payments, there is nothing quite like Loopin. We take pride in simplicity, excellence, and refinement throughout our application and company as a whole. We look forward to speaking with you.
			Loopin does not care for degrees. Loopin seeks talent, passion, and wit. Are you ready to help us create the next BIG thing? 
		</p>


										<div style="margin-top:50px">

											<section id="one">
      <div>
        <div id="info-boxes">
          <div class="info-box" style="margin-left:0">
            <header>
              <img
                src="/images/passion.svg"
                style="height:25px;margin-bottom:10px"
              />
              <h3>Passion</h3>
			  <p>Working at Loopin is no ordinary job. Our team seeks to shift the paradigm on every step and at every turn. We love what we do, because we are hungry for change, craving for perfection, and dying for success.</p>
            </header>
            <!--<p>Guestlist, Ticketing, and promotion, All in One. Set up an event and automatic ticketing all within a few clicks.</p>-->
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </div>
          <div class="info-box">
            <header>
              <img
                src="/images/strategy.svg"
                style="height:35px;margin-bottom:0px"
              />
              <h3>Strategy</h3>
			  <p>Our team is brilliant. We don’t stick to business plans, because we dream, evolve, and strategize on a daily basis. Loopin becomes better, cheaper, and faster, because our team can envision the impossible.</p>
            </header>
            <!--<p>Whether its a small get-together or a larger meetup, Loopin handles all payments quickly and automatically. No more long lines and lost cash!</p>
            <footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </div>
          <div class="info-box">
            <header>
              <img
                src="/images/es.svg"
                style="height:35px;margin-bottom:0px"
              />
              <h3>Execution</h3>
			  <p>We are a team of do’ers. We love ideas, but we prioritize taking action. Our team is not only skilled, but bold. We are known to take daring leaps of faith because we aren’t scared to fail.</p>
            </header>
            <!--<p>Hosts can find the perfect venue on the Loopin app directly, whether that be a backyard, pool or larger more specialized venues.</p>
            <footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </div>
        </div>
      </div>
    </section>

										</div>

									</header>
									<p></p>
								</div>
							</section>

					</div>

				<!-- Contact -->
					

				<!-- Footer -->
					<footer id="footer" style="background: black;">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>

						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>