<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Loopin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
	
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" style="background: black;">
						<a href="/" class="logo"><img src="/images/log.png" style="height:60px;padding:10px"></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/host">Host</a></li>
							<li><a href="/attend">Attend</a></li>
							<li><a href="/rent">Rent</a></li>
							<li><a href="/join">Careers</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">Join Waitlist</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one"  style="background: black;">
								<div class="inner">
									<header class="major" style="margin-top:80px">
										<h1 style="font-size:50px"> Loopin streamlines hosting. One stop shop for ticketing, bookings, promotions, and space rentals.</h1>
										<button data-tf-popup="Xcn53cuy">Survey (50% off first 10 events)</button><script src="//embed.typeform.com/next/embed.js"></script>										


										<!--<button data-tf-popup="Xcn53cuy" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#0445AF;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Survey 1 year</button>

<div data-tf-widget="Xcn53cuy" style="width:50%;height:500px;color:#FFFFFF;"></div><script src="//embed.typeform.com/next/embed.js"></script>-->
									</header>
									<!--<span class="image main"><img src="images/image.jpeg" alt="" /></span>-->
									
								</div>
							</section>



							<section id="two"  style="background: black;">
								<div class="inner">
									<header class="major">
										<h1 style="font-size:22px;text-align:center">Why Loopin?</h1>
										<div style="margin-top:50px">

											<section id="one">
      <div>
        <div id="info-boxes">
          <div class="info-box" style="margin-left:0">
            <header>
              <img
                src="/images/es.svg"
                style="height:25px;margin-bottom:10px"
              />
              <h3>Simple and Easy</h3>
            </header>
            <p>Manage guests, invites, ticketing, promotions, right from the app, with just a few clicks.</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </div>
          <div class="info-box">
            <header>
              <img
                src="/images/payment-method.svg"
                style="height:35px;margin-bottom:0px"
              />
              <h3>Seamless Payments</h3>
            </header>
            <p>Loopin handles all transactions. Funds are available to use as soon as a purchase is made!</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </div>
          <div class="info-box">
            <header>
              <img
                src="/images/integration.svg"
                style="height:35px;margin-bottom:0px"
              />
              <h3>Integrated</h3>
            </header>
            <p>Find the perfect venue directly in the app. Order beverages and food at huge discounts and have them delivered straight to your event.</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </div>
        </div>
      </div>







	  <div style="margin-top: 20px;">
        <div id="info-boxes" style="border: 1px solid white;">
          <div class="info-box" style="margin-left:0;border:none">
            <header>
              <img
                src="/images/es.svg"
                style="height:25px;margin-bottom:10px"
              />
              <h3>Flexibility</h3>
            </header>
            <p>Host what you need. Private or community events. Car shows or birthday pool parties. You decide from start to end.</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </div>
          <div class="info-box">
            <header>
              <img
                src="/images/payment-method.svg"
                style="height:35px;margin-bottom:0px"
              />
              <h3>Dashboard</h3>
            </header>
            <p>Your data is seamlessly organized. View real time-stats, profits, and KPI’s to maximize your income.</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
          </div>
          <!--<div class="info-box">
            <header>
              <img
                src="/images/integration.svg"
                style="height:35px;margin-bottom:0px"
              />
              <h3>Complete</h3>
            </header>
            <p>As mentioned before, we not only provide everything needed to host the perfect event, but the simplest user interface as well.</p>
            <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>
          </div>-->
        </div>
      </div>






    </section>
										</div>

									</header>
									<p></p>
								</div>
							</section>

					</div>

				<!-- Contact -->
					

				<!-- Footer -->
					<footer id="footer" style="background: black;">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>

						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>