<html>
  <head>
    <meta charset="utf-8" />
    <title>Loopin</title>
    <meta
      name="title"
      content="Loopin"
    />
    <meta
      name="description"
      content="Loopin"
    />
    <link rel="image_src" href="/images/notify_better_image.png" />

    <link rel="shortcut icon" id="favicon" href="favicon.png" />
    <meta name="author" content="Pete R." />
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
     <link
      href="/css/mainmain.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Pacifico:400"
      rel="stylesheet"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-1.9.1.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.onepage-scroll.js"></script>
    <link href="/css/onepage-scroll.css" rel="stylesheet" type="text/css" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
   
    <script>
      $(document).ready(function(){ $(".main").onepage_scroll({
      sectionContainer: "section", responsiveFallback: 600, loop: true }); });

    </script>
    <link
      href="http://fonts.cdnfonts.com/css/patinio-basica"
      rel="stylesheet"
    />

  </head>
  <body style="font-family: ui-rounded, SF Pro Rounded, system-ui, san-serif;">
    <div class="wrapper">
          <header id="header" style="background: black;">
						<a href="/" class="logo"><img src="/images/log.png" style="height:31px;padding:0px"></a>
						<nav>
							<a href="#menu"></a>
						</nav>
					</header>
      <div class="main">

        <!--<section class="page1">
          <div class="page_container">
            <img src="images/log.png" alt="" style="height: 70px;" />
            <h2
              style="text-align: center;font-weight:300;width:80%;margin:auto"
            class="mainhed">A social event platform for truly unique experiences. Attend events, make friends, earn rewards!</h2>
            <div style="text-align: center;">
              <img src="/images/event.png" alt="phones" style="height:70%;" />
            </div>
          </div>
        </section>-->

        <section class="page1"  style="background-color:#ff6b6b;">
          <div style="width:100%;margin:auto;margin-top:5%" class="flexsec">
            <div class="info-box pad-top">
              
            <h2
              style="text-align: center;font-weight:300;width:80%;margin:auto;color:white"
            class="mainhed">Loopin streamlines hosting. One stop shop for ticketing, bookings, promotions, and space rentals.</h2>
                
            
              <div style="width: 100%;">
                <a href="attend"><button>
                    Learn More
                  </button></a>

              </div>
            </div>
            <div class="info-box">
              <img src="/images/event.png" alt="phones" style="width:60%" />
            </div>
          </div>
        </section>


        

        <section class="page2" style="background-color: black;overflow:scroll">
          <div class="page_container">
            <!--<h1
                style="text-align: center;
    margin: auto;width:80%"
              >No Space? No Problem! Find the perfect location and rent it with Loopin.</h1>
                      <img src="/images/under.png" class="mainvis" />-->

              <div id="imgmob">
          <div id="info-boxes">
            <div class="info-boxex" style="margin-left:0">
              <header>               
                <img src="/images/es.svg" style="height: 35px;">
                <h3>Simple</h3>
                <p>Manage guests, invites, ticketing, promotions, right from the app, with just a few clicks.</p>
              </header>

            </div>
            <!--<img src="/images/stag.png" style="width: 47%;
    margin-left: 35px;">-->
            <div class="info-boxe">
              <header>
                <img src="/images/plan.svg" style="height: 35px;">
                <h3>Seamless</h3>
                <p>Loopin handles all transactions. Funds are available to use as soon as a purchase is made!</p>
              </header>

            </div>
            <div class="info-boxe">
              <header>
                <img src="/images/plan.svg" style="height: 35px;">
                <h3>Flexible</h3>
                <p>Host what you need. Private or community events. Car shows or birthday pool parties. You decide from start to end.</p>
              </header>

            </div>

          </div>
          <div id="info-boxes">
            <div class="info-boxex">
              <header>
                <img src="/images/es.svg" style="height: 35px;">
                <h3>Integrated</h3>
                <p>Find the perfect venue directly in the app. Order beverages and food at huge discounts and have them delivered straight to your event.</p>
              </header>

            </div>
            <div class="info-boxe">
              <header>
                <img src="/images/es.svg" style="height: 35px;">
                <h3>Dashboard</h3>
                <p>Your data is seamlessly organized. View real time-stats, profits, and KPI’s to maximize your income.</p>
              </header>

            </div>
            <!--<img src="/images/stag.png" style="width: 47%;
    margin-left: 35px;">-->
            <div class="info-boxe" style="border: none;">
              <header>

                <!--
                                                              <img src="/images/es.svg" style="height: 150px;">
<h3>NO FEE's</h3>
                <p>We don't charge hidden fee's for attending events. Attendee's pay zero in fee's to Loopin.</p>-->

              </header>

            </div>


          </div>

        </div>

           
            
          </div>
        </section>




        <section class="page2"  style="background-color: #FFE66D;">
          <div style="width:100%;margin:auto;margin-top:5%" class="flexsec">
            <div class="info-box pad-top">
        <h1 style="color: black;" class="mainhede">
       Direct, easy communication with hosts. </h1>
        <h1 style="color: black;" class="mainhede">
          Ultra-Fast payouts, minutes not weeks. 
</h1>
<h1 style="color: black;" class="mainhede">
          Message guests straight from the app.  
</h1>
              <div style="width: 100%;">
                <!--<a href="attend"><button>
                    Learn More
                  </button></a>-->

              </div>
            </div>
            
            <div class="info-box">
              <img src="/images/event2.png" alt="phones" style="width:60%" />
            </div>
          </div>
        </section>

        

        <section class="page3">

          <div class="page_container" style="margin-top: 50px;">
            <h1  class="mainhede">Free event promotion for 6 months? Its quick, I promise :)</h1>
            <Button>Survey</Button>
          </div>
           <div id="menu" class="page_container footer" style="margin-top:50px;width:200px">
              <div style="font-size: 15px;">
                  <a href="/"><p>Home</p></a>
                  <a href="/attend"><p>Attend</p></a>
                  <a href="/host"><p>Host</p></a>
                  <a href="/rent"><p>Rent</p></a>
                  <a href="/join"><p>Careers</p></a>
                  <p>© Loopin Inc.</p>
              </div>
          </div>
        </section>

      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->

  </body>
</html>
















