<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Loopin</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<nav style="background: black;">
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/host">Host</a></li>
							<li><a href="/attend">Attend</a></li>
							<li><a href="/rent">Rent</a></li>
							<li><a href="/join">Careers</a></li>
						</ul>
						<ul class="actions stacked">
							<li><a href="#" class="button fit">Join Waitlist</a></li>
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2" style="background: black;">
						<div class="inner">
							<header class="major">
								<img src="images/log.png" alt="" style="height: 100px;"/>
								<p style="font-size: 18px;margin-left:9px">a social event platform for truly unique experiences in your 
									local community. Attend events, make friends, earn rewards!</p>
							</header>

						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->


						<!-- Two -->
							<section id="two" class="spotlights" >
								<section>
									<a href="generic.html" class="image">
										<img src="images/event.jpg" alt="" data-position="center center" style="border-radius: 25px;height:500px;width:auto;margin:auto"/>
									</a>
									<div class="content" style="background:black;">
										<div class="inner">
											<header class="major">
												<h3><img src="/images/confetti.svg" style="height:23px;margin-right:10px">  Attend Events</h3>
											</header>
											<!--<p>Attend personalised events near you. Whether its a friends party or a gathering of those that share your interests, all
												can be found on Loopin.
											</p>-->
											<ul class="actions">
												<li><a href="generic.html" class="button">Learn more</a></li>
											</ul>
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="images/event.jpg" alt="" data-position="top center" style="border-radius: 25px;height:500px;width:auto;margin:auto"/>
									</a>
									<div class="content" style="background:black;">
										<div class="inner">
											<header class="major">
												<h3><img src="/images/host.svg" style="height:23px;margin-right:10px">  Host Events</h3>
											</header>
											<!--<p>The easiest way to host events, whether its a small party with your friends or a larger event. Manage ticketing, payments and guests
												all within a few clicks. 
											</p>-->
											<ul class="actions">
												<li><a href="generic.html" class="button">Host now</a></li>
											</ul>
										</div>
									</div>
								</section>
								<section>
									<a href="generic.html" class="image">
										<img src="images/event.jpg" alt="" data-position="25% 25%" style="border-radius: 25px;height:500px;width:auto;margin:auto"/>
									</a>
									<div class="content" style="background:black;">
										<div class="inner">
											<header class="major">
												<h3><img src="/images/house (1).svg" style="height:23px;margin-right:10px">  Rent out Spaces</h3>
											</header>
											<!--<p>Earn up to 6k a month renting out your backyard, swimming pool, parking space, or house on a hourly basis. 
												Simple, Insured and profitable. Make your land work for you!</p>-->
											<ul class="actions">
												<li><a href="generic.html" class="button">Get Started</a></li>
											</ul>
										</div>
									</div>
								</section>
							</section>

						<!-- Three -->
							

							<section id="three" style="background:black;">
								<div class="inner">
									<header class="major">
										<h2 style="text-align: center;">Timeline</h2>
									</header>
								</div>
							</section>

							<section id="three" style="background:black;">
								<div class="inner">
									<header class="major">
										<h2>Survey for Rewards</h2>
									</header>
									<p>LOOPIN wants to give to back to our community! Help us by completing this short survey to receive exclusive discounts and promotions that can be redeemed once we launch.</p>
									<!--<ul class="actions">
										<li><a href="generic.html" class="button next">Survey</a></li>
									</ul>-->
									<button data-tf-popup="VQxQIzyf" >Survey for free coupon</button><script src="//embed.typeform.com/next/embed.js"></script>
									</section>

					</div>

				<!-- Contact -->
					<!--<section id="contact" style="background:black;">
						<div class="inner">
							<section>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
	
									</div>
									<ul class="actions">
										<li><input type="submit" value="Sign Up" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							
						</div>
					</section>-->

				<!-- Footer -->
					<footer id="footer" style="background:black;">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
							</ul>
							<ul class="copyright">
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>