<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Loopin</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	<link href="http://fonts.cdnfonts.com/css/patinio-basica" rel="stylesheet">
  </head>
  <body class="is-preload" style="background-color: black;">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Header -->
      <header id="header" class="alt style2" style="background:black">
        <nav>
          <a href="#menu">Menu</a>
        </nav>
      </header>

      <!-- Menu -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/host">Host</a></li>
          <li><a href="/attend">Attend</a></li>
          <li><a href="/rent">Rent</a></li>
          <li><a href="/join">Careers</a></li>
        </ul>
        <ul class="actions stacked">
          <li><a href="#" class="button fit">Join Waitlist</a></li>
        </ul>
      </nav>

      <!-- Banner -->
      <section id="banner" class="major" style="background: black;">
        <div class="inner">
          <header class="major" style="background-color:none">
            <a href="/" class="logo" style="margin-left: 0;"><img
                src="/images/log.png"
                style="height:80px;"
              /></a>

            <h1
              style="border-bottom:none;margin-top: 2%;padding-left: 7px;"
            >List. Rent. Earn. Passive income has never been easier.
            </h1>
            <h1
              style="border-bottom:none;margin-top: 16px;margin-bottom:0;padding-left: 7px;"
            >We beat industry standards.
            </h1>
            <img src="/images/under2.png" class="mainvis" />
            <!--<button data-tf-popup="kwOKZHEs">Survey for free promotion</button><script src="//embed.typeform.com/next/embed.js"></script>-->

          </header>
        </div>
      </section>

      <section
        id="one"
        style="max-width: 65em;
    margin: auto;
    background: black;
    margin-bottom: 72px;padding:10px;margin-top:30px"
      >
        <div>
          <div id="info-boxes">
            <div class="info-box" style="margin-left:0">
              <header>
                <h3>HIGHEST ROI</h3>
                <p>Loopin's algorithms generate 100x more return on your space
                  compared to other platforms.</p>
              </header>
              <!--<p>Guestlist, Ticketing, and promotion, All in One. Set up an event and automatic ticketing all within a few clicks.</p>-->
              <!--<footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
            </div>
            <div class="info-box">
              <header>
                <h3>STREAMLINED</h3>
                <p>Just list. And Loopin will take care of the rest, from
                  promoting your space, to handling payments and clients!</p>
              </header>
              <!--<p>Whether its a small get-together or a larger meetup, Loopin handles all payments quickly and automatically. No more long lines and lost cash!</p>
            <footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
            </div>
          </div>
          <div id="info-boxes" style="margin-top:50px">
            <div class="info-box" style="margin-left:0">
              <header>
                <h3>PEACE OF MIND</h3>
                <p>We enforce your property’s rules and regulation, and insure
                  it for all liabilities. Loopin has you covered 100%.</p>
              </header>
              <!--<p>Hosts can find the perfect venue on the Loopin app directly, whether that be a backyard, pool or larger more specialized venues.</p>
            <footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
            </div>
            <div class="info-box">
              <header>
                <h3>5 PERCENT</h3>
                <p>Loopin has the lowest fees in the industry. We take a flat 5%
                  cut. No hidden fees. No extra charges.</p>
              </header>
              <!--<p>Hosts can find the perfect venue on the Loopin app directly, whether that be a backyard, pool or larger more specialized venues.</p>
            <footer>
								<a href="#" class="button special" style="margin-left: 0">More</a>
							</footer>-->
            </div>
          </div>

        </div>
        <h1 style="margin-top:20%">We offer cutting edge features.</h1>
        <img src="/images/under.png" class="mainvis" />
        <h2><img src="/images/1.png" style="height:60px;margin-right:10px;" />
          Payouts when you need. We don’t with-hold balances.</h2>
        <h2><img src="/images/2.png" style="height:60px;margin-right:10px" />
          Multiple payment methods. And instant payments with crypto.</h2>
        <h2><img src="/images/3.png" style="height:60px;margin-right:10px" />
          Top of the line communication systems. Get to know your renter before
          renting out your space.</h2>
        <h2><img src="/images/4.png" style="height:60px;margin-right:10px" />
          No fees for the first year*. 100% of the rent go directly to you!</h2>

      </section>

      <div
        id="main"
        style="max-width: 65em;
    margin: auto;
    background: black;
    margin-bottom: 72px;padding: 10px;"
      >

        <h1 style="margin-top:20%">Rent your space. Any space.</h1>
        <img src="/images/under1.png" class="mainvis" />

        <section id="one" class="tiles" style="margin-top:30px">
          <article>
            <span class="image">
              <img src="images/swimmingpool.jpg" alt="" />
            </span>
            <header class="major">
              <h2><a href="landing.html" class="link">Swimming Pool</a></h2>
              <!--<p>Get paid hourly for usage of your pool!</p>-->
            </header>
          </article>
          <article>
            <span class="image">
              <img src="images/driveway.jpg" alt="" />
            </span>
            <header class="major">
              <h2><a href="landing.html" class="link">Parking Space</a></h2>
              <!--<p>List your entraceway as a parking space and earn hourly.</p>-->
            </header>
          </article>
          <article>
            <span class="image">
              <img src="images/renthouses.jpg" alt="" />
            </span>
            <header class="major">
              <h2><a href="landing.html" class="link">Home</a></h2>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="images/venues.jpg" alt="" />
            </span>
            <header class="major">
              <h2><a href="landing.html" class="link">Venues</a></h2>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="images/carpark.jpg" alt="" />
            </span>
            <header class="major">
              <h2><a href="landing.html" class="link">Car Lot</a></h2>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="images/backyard.jpeg" alt="" />
            </span>
            <header class="major" style="background-color: none;">
              <h2><a href="landing.html" class="link">Backyard</a></h2>
            </header>
          </article>
        </section>
      </div>

      <section
        id="one"
        style="max-width: 65em;
    margin: auto;
    background: black;
    margin-bottom: 72px;padding:10px;margin-top:30px"
      >
        <h1>Help Loopin for a reward!</h1>
        <p>Complete this short survey to list your space for 1 year and pay $0
          in rental fees. You will also get exclusive discounts once we launch!</p>
        <div data-tf-widget="kwOKZHEs" data-tf-hide-headers data-tf-hide-footer style="width:75%;height:300px;color:#FFFFFF;"></div><script src="//embed.typeform.com/next/embed.js"></script>
      </section>

      <!--<div data-tf-widget="kwOKZHEs" style="width:100%;height:400px;color:#FFFFFF;"></div><script src="//embed.typeform.com/next/embed.js"></script>-->

      <!-- Footer -->
      <footer id="footer" style="background: black;">
        <div class="inner">
          <ul class="icons">
            <li><a href="#" class="icon brands alt fa-twitter"><span
                  class="label"
                >Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-facebook-f"><span
                  class="label"
                >Facebook</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span
                  class="label"
                >Instagram</span></a></li>
          </ul>
          <ul class="copyright">
          </ul>
        </div>
      </footer>

    </div>

    <!-- Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.scrolly.min.js"></script>
    <script src="/js/jquery.scrollex.min.js"></script>
    <script src="/js/browser.min.js"></script>
    <script src="/js/breakpoints.min.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/main.js"></script>

  </body>
</html>