
<html>
  <head>
    <meta charset="utf-8" />
    <title>Loopin</title>
    <meta
      name="title"
      content="Loopin"
    />
    <meta
      name="description"
      content="Loopin"
    />
    <link rel="image_src" href="/images/notify_better_image.png" />

    <link rel="shortcut icon" id="favicon" href="favicon.png" />
    <meta name="author" content="Pete R." />
       
    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Pacifico:400"
      rel="stylesheet"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-1.9.1.js"
    ></script>
    <script type="text/javascript" src="/js/jquery.onepage-scroll.js"></script>
    <link href="/css/onepage-scroll.css" rel="stylesheet" type="text/css" />
    <meta
      name="viewport"
      content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
     <link
      href="/css/mainmain.css"
      rel="stylesheet"
      type="text/css"
    />
   
    <script>
      $(document).ready(function(){ $(".main").onepage_scroll({
      sectionContainer: "section", responsiveFallback: 600, loop: true }); });

    </script>
    <link
      href="http://fonts.cdnfonts.com/css/patinio-basica"
      rel="stylesheet"
    />
  
  </head>
  <body style="font-family: ui-rounded, SF Pro Rounded, system-ui, san-serif;">
    <div class="wrapper">

      <div class="main">

        <section class="page1">
          <div class="page_container">
            <img src="images/log.png" alt="" style="height: 70px;" />
            <h2
              style="text-align: center;font-weight:300;width:80%;margin:auto"
            class="mainhede">A social event platform for truly unique experiences. Attend events, make friends, earn rewards!</h2>
            <div style="text-align: center;">
              <img src="/images/event.png" alt="phones" style="height:70%;" />
            </div>
          </div>
        </section>

        <section class="page1"  style="background-color: #FFE66D;">
          <div style="width:100%;margin:auto;margin-top:5%" class="flexsec">
            <div style="padding-top:150px" class="info-box">
              <h1
                style="text-align: center;
    margin: auto;width:80%" class="mainhede"
              >Discover exciting events near you, Community or Personal.</h1>
              <div style="width: 100%;">
                <a href="/attend"><button>
                    Learn More
                  </button></a>

              </div>
            </div>
            <div class="info-box">
              <img src="/images/event.png" alt="phones" style="width:60%" />
            </div>
          </div>
        </section>


        

        <section class="page2" style="background-color: black;">
          <div class="page_container">
            <h1 class="mainhede">One stop shop for ticketing, bookings, promotions, and space rentals.</h1>
            <div>
              <div style="width: 100%;">
                <a href="/host"><button style="border:1px solid white;color:white;">
                    Start Now
                  </button></a>

              </div>
            </div>
            <div>
                <img src="/images/event1.png" alt="phones" style="width:60%" />
            </div>
            
          </div>
        </section>


        <section class="page1"  style="background-color: #EE4266;">
          <div style="width:100%;margin:auto;margin-top:5%" class="flexsec">
            <div style="padding-top:150px" class="info-box">
              <h1
                style="text-align: center;
    margin: auto;width:80%;color:white" class="mainhede"
              >No Space? No Problem! Find the perfect location and rent it with Loopin.</h1>
              <div style="width: 100%;">
                <a href="/rent"><button>
                    Start Earning
                  </button></a>

              </div>
            </div>
            <div class="info-box">
              <img src="/images/event2.png" alt="phones" style="width:60%" />
            </div>
          </div>
        </section>

        <section class="page3">

          <div class="page_container" style="margin-top: 50px;">
            <h1 class="mainhede">Want 50% your first 10 events? Its quick, I promise :)</h1>
            <Button>Survey</Button>

          </div>
          <div class="page_container footer" style="margin-top:50px;width:200px">
              <div style="font-size: 15px;">
                  <a href="/"><p>Home</p></a>
                  <a href="/attend"><p>Attend</p></a>
                  <a href="/host"><p>Host</p></a>
                  <a href="/rent"><p>Rent</p></a>
                  <a href="/join"><p>Careers</p></a>
                  <p>© Loopin Inc.</p>
              </div>
          </div>

        </section>

      </div>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->

  </body>
</html>